@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    max-width: 1200px;
}

body {
    font-family: "Inter", sans-serif;
}

.logo img {
    width: 100px;
    border-radius: 100%;
}

h1 {
    font-family: "Manrope", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: #035bce;
}

.hero-btn {
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    background-color: #035bce;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 45px;
}

